*{
    margin:0;
    padding:0;
   }
   body{
       height: 100%;
       width:100vw;
       overflow-x: hidden;
      }
   .main{
    width: 100%;
     background: linear-gradient(to top,rgba(10, 9, 9, 0.699)50%,rgba(10, 9, 9, 0.699)50%), url(bg3.jpg); 
    background-size: cover;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-position : center;
    background-size:cover;
    height: 109vh;
    background-attachment: fixed;
   }
   .navbar
   {
    width: 1200px;
    height: 75px;
    margin: auto;
   }
   .icon
   {
    width: 400px;
    float:left;
    height:70px;
    padding-top:10px;
    white-space:nowrap;
    position: relative;
    right:120px;
    top:5px;
   }
   .logo
   {
    color:rgb(87, 76, 248);
    font-size: 35px;
    font-family: 'Courier New', monospace;
    padding-left:20px ;
    float: left;
    padding-top:10px;
   }
   
   .content{
       width: 100%;
       height: auto;
       margin: auto;
       color:white;
   } 
   #i1{
    height: 500px;
    width: 400px;
    position: absolute;
    top:120px ;
    left: 540px;
}
#i2{
    height: 120px;
    width: 120px;
    position: absolute;
    top:265px ;
    left: 140px;
}
 #p1{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    left: 535px;
    font-weight: 600;
 }
 #p2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    position: absolute;
    top: 410px;
    left:180px;
  }
  #infp{
    color: rgb(255, 243, 243);
    font-size: 20px;
    font-family: 'Courier New';
    text-align: justify;
    position: absolute;
    top: 250px;
    left:50px;
    width: 370px;
    height: 300px;
} 
#convo{
    height: 500px;
    width: 500px;
    font-family: 'Courier New';
    font-size: 18px;
    text-align: justify;
    position: absolute;
    top:130px ;
    left: 500px;
}
#bt{
    width:10%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background-color: #a8bbf8;
    border: 0;
    outline: none;
    border-radius: 30px;
    position: absolute;
    top: 605px;
    left:650px;
}
#i3{
    height: 125px;
    width: 125px;
    position: absolute;
    top:270px ;
    left: 1280px;
}