*{
    margin:0;
    padding:0;
   }
   body{
       height: 100%;
       width:100vw;
       overflow-x: hidden;
      }
   .main{
    width: 100%;
     background: linear-gradient(to top,rgba(10, 9, 9, 0.699)50%,rgba(10, 9, 9, 0.699)50%), url(startbg.webp); 
    background-size: cover;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    background-position : center;
    background-size:cover;
    height: 109vh;
    background-attachment: fixed;
   }
   .navbar
   {
    width: 1200px;
    height: 75px;
    margin: auto;
   }
   .icon
   {
    width: 400px;
    float:left;
    height:70px;
    padding-top:10px;
    white-space:nowrap;
    position: relative;
    right:120px;
    top:5px;
   }
   .logo
   {
    color:rgb(87, 76, 248);
    font-size: 35px;
    font-family: 'Courier New', monospace;
    padding-left:20px ;
    float: left;
    padding-top:10px;
   }
   .content{
       width: 100%;
       height: auto;
       margin: auto;
       color:white;
   } 
   #i1{
    height: 120px;
    width: 120px;
    position: absolute;
    top:265px ;
    left: 90px;
}
#p1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    position: absolute;
    top: 405px;
    left:120px;
  }
  #infp{
    color: rgb(255, 231, 231);
    font-size: 20px;
    font-weight: 500;
    font-family: 'Courier New';
    text-align: justify;
    position: absolute;
    top: 250px;
    left:30px;
    width: 400px;
    height: 300px;
} 

#i2{
    height: 70px;
    position: absolute;
    top: 310px;
}
#p2{
    color: rgb(252, 253, 255);
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    font-size: 16px;
    left: 490px;
    top: 270px;
   
}
#p3{
    color: rgb(252, 253, 255);
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    font-size: 16px;
    left: 530px;
    top: 250px;
   
}
#l1 {
    font-family: 'Courier New';
    position: absolute;
    left: 230px;
    top: 530px;
    color: white;
      font-weight: bold;
    font-size: x-large;
   }
   #tb{
    position: absolute;
    padding: 5px 35px;
    top: 530px;
    left: 520px;
    border: 1px solid #ccc; /* Add a border to the textbox */
    border-radius: 3px; /* Round the corners of the textbox */
   }