*{
    margin:0;
    padding:0;
   }
   body{
       height: 100%;
       width:100vw;
       overflow-x: hidden;
      }
   .main{
    width: 100%;
     background: linear-gradient(to top,rgba(10, 9, 9, 0.699)50%,rgba(10, 9, 9, 0.699)50%), url(deadend.jpg); 
    background-size: cover;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-position : center;
    background-size:cover;
    height: 109vh;
    background-attachment: fixed;
   }
   .navbar
   {
    width: 1200px;
    height: 75px;
    margin: auto;
   }
   .icon
   {
    width: 400px;
    float:left;
    height:70px;
    padding-top:10px;
    white-space:nowrap;
    position: relative;
    right:120px;
    top:5px;
   }
   .logo
   {
    color:rgb(87, 76, 248);
    font-size: 35px;
    font-family: 'Courier New', monospace;
    padding-left:20px ;
    float: left;
    padding-top:10px;
   }
   .content{
       width: 100%;
       height: auto;
       margin: auto;
       color:white;
   
   } 
#p0{
        color: rgb(255, 249, 249);
        font-size: 25px;
        font-weight: bold;
        font-family: andale mono,monospace;
        text-align: justify;
        position: absolute;
        top: 450px;
        left:170px;
}
#bt{
    width:10%;
    color: rgb(3, 3, 3);
    font-weight: bold;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background-color: #a8bbf8;
    border: 0;
    outline: none;
    border-radius: 30px;
    position: absolute;
    top: 500px;
    left:650px;
}